<div class="content">
    <div class="skills">
        <h2 class="title">Skills</h2>

        <div class="diagram">
            <div class="pipe">
                <div style="width: 100%">
                    <h3>HTML</h3>
                </div>
            </div>
            <div class="pipe">
                <div style="width: 70%">
                    <h3>CSS</h3>
                </div>
            </div>
            <div class="pipe">
                <div style="width: 60%">
                    <h3>JQuery</h3>
                </div>
            </div>
            <div class="pipe">
                <div style="width: 40%">
                    <h3>PHP</h3>
                </div>
            </div>
            <div class="pipe">
                <div style="width: 30%">
                    <h3>Laravel 2 (framework)</h3>
                </div>
            </div>
        </div>
    </div>
</div>