<div class="container">
    <div class="feedbacks">
        <h2 class="title">Feedbacks</h2>
        <ul>
            <li class="feedback">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
                <div class="user-info">
                    <div class="photo"></div>
                    <span>Martin Forman: Programmer, <a href="somesite.com">somesite.com</a></span>
                </div>
            </li>
            <li class="feedback">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
                <div class="user-info">
                    <div class="photo"></div>
                    <span>Martin Forman: Programmer, <a href="somesite.com">somesite.com</a></span>
                </div>
            </li>
            <li class="feedback">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
                <div class="user-info">
                    <div class="photo"></div>
                    <span>Martin Forman: Programmer, <a href="somesite.com">somesite.com</a></span>
                </div>
            </li>
        </ul>
    </div>
</div>