<div class="sidebar">
    <div class="info">
        <app-avatar></app-avatar>
        <p class="name"><b>John Doe</b></p>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <a [routerLink]="['about']"><img src="../../../assets/about.png" class="icon">About me</a>
            </li>
            <li>
                <a [routerLink]="['education']"><img src="../../../assets/education.png" class="icon">Education</a>
            </li>
            <li>
                <a [routerLink]="['experience']"><img src="../../../assets/experience.png" class="icon">Experience</a>
            </li>
            <li>
                <a [routerLink]="['skills']"><img src="../../../assets/skils.png" class="icon">Skils</a>
            </li>
            <li>
                <a href="/"><img src="../../../assets/portfolio.png" class="icon">Portfolio</a>
            </li>
            <li>
                <a [routerLink]="['contacts']"><img src="../../../assets/contacts.png" class="icon">Contacts</a>
            </li>
            <li>
                <a [routerLink]="['feedbacks']"><img src="../../../assets/feedbacks.jpg" class="icon">Feedbacks</a>
            </li>
        </ul>
    </div>
    <p class="back-button">
        <a href="/"><img src="../../../assets/back.png" class="icon">Go Back</a>
    </p>
</div>