.sidebar {
    width: 250PX;
    background-color: #000614;
    border: solid 1px #646F81;
    height: 100vh;
}

ul.list {
    padding: 0;
    list-style-type: none;
}

ul.list li a {
    font-size: 18px;
    color: #646F81;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 5px;
}

ul.list li a:hover {
    color: #26C17F;
}

ul.list li {
    border-top: dashed 1px #646F81;
    border-bottom: dashed 1px #646F81;
    width: 248px;
    padding: 20px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0px 10px -2px 20px;
    vertical-align: center;
    filter: invert(70%);
}

.info {
    padding-top: 30px;
}

.name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    color: white;
}

.back-button {
    position: fixed;
    left: 13%;
    bottom: 4px;
}

.back-button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.title {
    color: #26C17F;
    font-family: "Comic Sans MS", cursive, sans-serif;
}