<div class="container">
    <div class="sidebar">
        <div class="info">
            <app-avatar></app-avatar>
            <p class="name"><b>John Doe</b></p>
        </div>
        <div class="menu">
            <ul class="list">
                <li>
                    <a href="#about"><img src="pictures/about.png" class="icon">About me</a>
                </li>
                <li>
                    <a href="#education"><img src="pictures/education.png" class="icon">Education</a>
                </li>
                <li>
                    <a href="#experience"><img src="pictures/experience.png" class="icon">Experience</a>
                </li>
                <li>
                    <a href="#skils"><img src="pictures/skils.png" class="icon">Skils</a>
                </li>
                <li>
                    <a href="#portfolio"><img src="pictures/portfolio.png" class="icon">Portfolio</a>
                </li>
                <li>
                    <a href="#contacts"><img src="pictures/contacts.png" class="icon">Contacts</a>
                </li>
                <li>
                    <a href="#feedbacks"><img src="pictures/feedbacks.jpg" class="icon">Feedbacks</a>
                </li>
            </ul>
        </div>
        <p class="back-button">
            <a href="front-page.html"><img src="pictures/back.png" class="icon">Go Back</a>
        </p>
    </div>
</div>